<html>
<!--
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
     
      padding: 10px;
    }
    
    .grid-container > div {
     
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
    
    .item1 {
      grid-column-start: 1;
      grid-column-end: 2;
      width: 100px;
    }
    </style>


<div class="grid-container">
    <div class="grid-item"> <script src="https://tryhackme.com/badge/35487"></script></div>
    <div class="grid-item"><script src="https://www.hackthebox.eu/badge/138696"></script></div>
    
  </div>
-->
  <script src="https://tryhackme.com/badge/35487"></script>
  <script src="https://www.hackthebox.eu/badge/138696"></script>

   


</html>




